<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />  
    <title>My Awesome App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
  <style>
    body {
    background-color: rgb(114, 110, 62);
    color: cornsilk;}

     .section_actions {
        background-color: rgb(39, 43, 23);
        margin-top: 10px;
        position: absolute;
        top: 350px;
        left: 315px;
        width: 900px;
        height: 600px;
        border-radius: 15px;
    }
</style>
  </head>
  <body>
    {{{body}}}
  </body>
</html>