<div>
    <a href="/profile" class="btn btn-secondary">Voltar</a>
</div>
<div class="container formRegister">
    <div class="row">
        <div class="offset-4 col-6 mt-5">
            <h1>Nome do Game</h1>
        </div>
    </div>
        <div class="row">
            <form method="post" action="/update_user_password" class="offset-4 col-3" autocomplete="off">
                    <label>Senha antiga</label>
                    <div class="form-element">
                        <input
                            type="password"
                            name="old_password"
                            minlength="4"
                            required
                        >
                    <label>Senha</label>
                    <div class="form-element">
                        <input
                            type="password"
                            name="password"
                            minlength="4"
                            required
                        >
                            {{!-- A senha deve ter pelo menos 4 caracteres!  --}}
                    <label>Digite sua senha novamente</label>
                    <div class="form-element">
                        <input
                            type="password"
                            name="password_confirm"
                            minlength="4"
                            required
                        >
                    </div>
                    {{#if message}}
                        <div class="msg-error">
                            {{message}}
                        </div>
                     {{/if}}
                    <div class="d-flex justify-content-center mt-4">
                        <button
                            type="submit"
                            class="btn btn-success"
                        >
                            Atualizar
                        </button>
                    </div>
            </form>
        </div>
    </div>
