{{#data}}
<section class="section_actions">
    <h1 style="text-align: center;">Exercito</h1>

    <div style="margin-top: 100px; margin-left: 100px;">
        soldados:
    </div>

</section>
{{/data}}