<section class="section_actions">

    <h1> Comércio </h1>
    <ol>
        <li>É permitido somente trocas com ouro acima de 15, madeira acima de 10 e suprimentos acima de 20.</li>
        <li>As trocas feitas terão perdas em torno de 25% do produto.</li>
    </ol>


    <form action='to_replace' method='post'>

        <div class="icons_1">
            <img src="/icones/gold.png">
            <img src="/icones/supplies.png">
            <img src="/icones/wood.png">
                                        <br>

            <input type="radio" name="to_replace_1" value="Gold_replace">
            <input type="radio" name="to_replace_1" value="Supplies_replace">
            <input type="radio" name="to_replace_1" value="Wood_replace">
                                                                        <br>
        </div>

        <div class="icons_2">
            <img src="/icones/gold.png">
            <img src="/icones/supplies.png">
            <img src="/icones/wood.png">
                                    <br>

            <input type="radio" name="to_replace_2" value="Gold_replace">
            <input type="radio" name="to_replace_2" value="Supplies_replace">
            <input type="radio" name="to_replace_2" value="Wood_replace">
                                                                        <br>
        </div>

        <div class="inputs_number">
            <input type='number' name='value' placeholder='value:' required>
                                                            <br><br>

            <div id="result"></div>
        </div>

        
        <input id="button_to_replace" type='submit' name='btnSubmit' value='to replace'>

        <div id="text1">Valor 1 / Valor 2</div>
        <div id="percentage"> -25%  </div>
        
    </form>
</section>