<h1>Diamantes</h1>

{{#data}}
<section class="section_actions">

<div style="text-align: center;">{{t_name}}</div>

<div class="diamonds">Diamantes: {{diamonds}}</div><br>

<a class="back_start" href="/Logged/{{user_id}}">Voltar ao Início</a>

</section>
{{/data}}
