<style>
    button{
        background-color: rgb(213, 213, 6);
        position: absolute;
        top: 10px;
        left: 15px;
        border-radius: 5px;
        outline: none;
    }

    .diamonds{
        position: absolute;
        left: 15px;
    }

    .back_start{
        position: absolute;
        left: 780px;
        top: 10px;
        color: white;
    }
</style>

<h1>Diamantes</h1>

{{#data}}
<section class="section_actions">

<div style="text-align: center;">{{t_name}}</div>

<div class="diamonds">Diamantes: {{diamonds}}</div><br>

<a class="back_start" href="/Logged/{{user_id}}">Voltar ao Início</a>

</section>
{{/data}}
