<h1>Exercito</h1>

{{#data}}
<section class="section_actions">
    
<h3>Comprar Soldado</h3><br>

<p style="color: brown;">Custo do soldado: 33 Suprimentos</p>
<a href="/updateArmy"><button>Comprar 1 Soldado</button></a><br><br>

<div>Total Moedas: {{gold}}</div><br>
<div>Total Soldados: {{army}}</div><br>

<a href="/Logged/{{user_id}}">Voltar Inicil</a>

</section>
{{/data}}