<h1>Exercito</h1>

{{#data}}
<section class="section_actions">
    
<div>comprar uma Soldado</div><br>

<a href="/updateArmy"><button>Comprar 1 Soldado</button></a><br><br>

<div>Total Moedas: {{gold}}</div><br>
<div>Exército: {{army}}</div><br>

<a href="/Logged/{{user_id}}">Voltar Inicil</a>

</section>
{{/data}}