<div class="d-flex justify-content-end">
    <a href="/logout" class="btn btn-secondary">Sair</a>
</div>
<div class="container">
    <div class="row">
        <div class="col-2 border border-4">
            <div class="d-flex justify-content-center">
                <!-- <img src="..." class="rounded-circle" alt="imagem de Origem"> -->
                {{userName}}
            </div>
            <div>
                <a href="/profile" class="btn btn-dark mt-3">Perfil</a>
            </div>
            <div>
                <a href="/support" class="btn btn-dark mt-3">Suporte</a>
            </div>
        </div>
        <div class="col-9 offset-1 border border-4">
            Menu
        </div>
    </div>
    <div class="row">
        <div class="col-2 mt-3 border border-4">

        </div>
        <div class="col-9 offset-1 mt-3 border border-4">
            Interação com o jogo
        </div>
    </div>
</div>



