<section class="section_actions">
    <h1 style="text-align: center;">Pagina Inicial</h1>

    <div style="margin-top: 100px; margin-left: 100px;">
        <p>Trabalhadores Parados:</p>
        <p>Seus Atacks:</p>
        <p>Atacks contra você:</p><br>

        <p>Convites de clãs:</p>
        <p>Menssagens:</p>
    </div>

</section>


