<style>
        body {
            background-color: darkolivegreen;
        }
</style>

<a href='update/{{user_id}}'>Atualizar dados</a><br>

{{#data}}{{t_name}}

    <h1>Bem-Vindo(a) você esta logado(a) com sucesso!</h1>
    
{{/data}}
<a href="/">Sair</a>

<div id="res"></div>
<script src="/socket.io/socket.io.js"></script>
 <script>
        const socket = io()

        socket.on('cart', (prime) => {
            const res = document.getElementById('res')
            res.innerHTML = prime
        })
</script>
