<style>
    h1 {
        text-align: center;
    }

</style>

<section class="section_actions">
    <h1> Pagina Inicial </h1>

    <div>
        <p>Trabalhadores Parados:</p>
        <p>Seus Atacks:</p>
        <p>Atacks contra você:</p><br>

        <p>Convites de clãs:</p>
        <p>Menssagens:</p>
    </div>

</section>


