<div class="container">
    <div>
        <a href="/home" class="btn btn-secondary mt-3">Voltar</a>
    </div>
    <div>
        <a href="/update/email" class="btn btn-success mt-3">Atualizar Email</a>
    </div>
    <div>
        <a href="/update/password" class="btn btn-success mt-3">Atualizar Senha</a>
    </div>
</div>


