<style>
    #ranking {
        margin: 50px 80px;
    }
</style>

<section class="section_actions">

    <h1 style="text-align: center;">Ranking</h1>

    <div id="ranking"></div>

</section>

<script>

    (async() => {
        try {

            const response = await fetch('/ranking_users')
            const data = await response.json()
            rankingShow(data)

        } catch (error) { console.log(error) }
    })()

    const rankingShow = (users) => {
        
        let output = ''
        var indice = 1

        for (let user of users) {
            output += `<table style="width:50%">
                            <tr>
                                <td style="width:60%"> 
                                    ${indice++} - &nbsp; ${user.u_name} 
                                </td>
                                <td style="width:60%"> pontos: 
                                    ${user.gold}
                                </td>
                            <tr>
                        </table>`
        }

        document.querySelector('#ranking').innerHTML = output
    }

</script>