<section class="section_actions">

    <h1>Ranking</h1>

    <div id="raking"></div>

</section>

<script>

    async function rankingGetContent() {
        
        try {
            const response = await fetch('http://localhost:3000/ranking_users')

            const data = await response.json()

            rankingShow(data)

        } catch (error) {

            console.log(error)
        }
    }

    rankingGetContent()

    function rankingShow(users) {
        
        let output = ''
        var indice = 1

        for (let user of users) {
            output += `<table>
                            <td> ${indice++} </td>
                            <td> - </td>
                            <td> ${user.u_name}</td>
                            <td> Gold: ${user.gold}</td>
                        </table>`
        }

        document.querySelector('#raking').innerHTML = output
    }

</script>