

<section class="section_actions">
        <h1>Ranking</h1>

    <table>
        <tr>
            <td>Name</td>
            <td>Ouro</td>
        </tr>

        {{#data}}
            <tr>
                <td>Nome</td>
                <td>Ouro</td>
            </tr>
        {{/data}}
    </table>
</section>




