    <style>
        body {
            background: #050508;
            color: blanchedalmond;
        }

        .section {
            position: absolute;
            top: 200px;
        }
    </style>
    

    <section class="section">
        <h1> Registration Performed !! </h1>
        <br>

        <a href="/"> 
            <button> Login </button>
        </a>
    </section>