  <link rel="stylesheet" href="/registration_performed.css">

    <section class="section">
        <h1> Registration Performed !! </h1>
        <br>

        <a href="/"> 
            <button> Login </button>
        </a>
    </section>