<style>
    body {
        background-color: darkorange;
    }
</style>

<form name='form1' action='registrationPerformed' method='post'>
    <input type='text' name='name' name='name' placeholder='Name:'><br>
    <input type='text' name='email' name='email' placeholder='E-mail:'><br>
    <input type="password" name="password" placeholder="Password:">
    <input type='submit' name='btnSubmit' name='btnSubmit' value='register'><br>
</form>