<style>
    body {
        background-color: darkorange;
    }
</style>

<form name='form1' action='registrationPerformed' method='post'>
    <input type='text' id="name" name='name' placeholder='Name:'><br>
    <input type='text' id="email" name='email' placeholder='E-mail:'><br>
    <input type="password" name="password" placeholder="Password:">
    <input type='submit' id="register" name='btnSubmit' value='register'><br>
</form>