<link rel="stylesheet" href="/Register.css">

<a href="/" class="back"> Back </a>

<form name='form_1' action='registration_performed' method='post'>

    <h1 style="color: blanchedalmond;"> Register </h1>

    <div class="radio">
        <div class="inputs">
            <input type='text' id="u_name" name='u_name' placeholder='Name:' minlength="3" required><br>
            <input type='email' id="email" name='email' placeholder='E-mail:' required><br>
            <input type="password" name="password" placeholder="Password:" minlength="8" maxlength="20" required>
        </div>

        <input label=" Magic " type="radio" name="origin" value="Magic" checked>
        <input label=" Researcher " type="radio" name="origin" value="Researcher">
        <input label=" War " type="radio" name="origin" value="War">
    </div>

    <div class="register_button">
        <input type='submit' name='btnSubmit' value='Register'>
    </div>

</form>