<style>
    body {
        background-color: rgb(48, 10, 10);
        color: cornsilk
    }

    #button_start{
        background-color: rgb(7, 3, 3);
        color: darkgray;
        width: 100px;
        padding: 10px;
    }

    a:link {
        background-color: rgb(175, 70, 70);
        color: cornsilk;
        text-align: center;
        position: absolute;
        padding: 50px;
    }

    a[href="/unlock_trade"] {
        top: 200px;
        left: 150px;}
    a[href="/option_2"] {
        top: 400px;
        left: 150px;}
    a[href="/option_3"] {
        top: 600px;
        left: 150px;}
    a[href="/option_4"] {
        top: 300px;
        left: 500px;}
    a[href="/option_5"] {
        top: 500px;
        left: 500px;}
    a[href="/option_6"] {
        top: 200px;
        left: 800px;}
    a[href="/option_7"] {
        top: 400px;
        left: 800px;}
    a[href="/option_8"] {
        top: 600px;
        left: 800px;}
    a[href="/option_9"] {
        top: 300px;
        left: 1100px;}
    a[href="/option_10"] {
        top: 500px;
        left: 1100px;}
    a[href="/option_11"] {
        top: 200px;
        left: 1400px;}
    a[href="/option_12"] {
        top: 400px;
        left: 1400px;}
    a[href="/option_13"] {
        top: 600px;
        left: 1400px;}
    a[href="/option_14"] {
        top: 300px;
        left: 1700px;}
    a[href="/option_15"] {
        top: 500px;
        left: 1700px;}
    a[href="/option_16"] {
        top: 200px;
        left: 2000px;}
    a[href="/option_17"] {
        top: 400px;
        left: 2000px;}
    a[href="/option_18"] {
        top: 600px;
        left: 2000px;}
    a[href="/option_19"] {
        top: 300px;
        left: 2300px;}
    a[href="/option_20"] {
        top: 500px;
        left: 2300px;}
</style>


{{#data}}
<a id="button_start" href="/Logged/{{user_id}}">Início</a><br>
<br><br>
<div id="button_start"> Pontos de tecnologia: {{tech_points}} </div>
<br><br>

<a href="/unlock_trade"> Desbloqueie Comerciante 
    <div>custo: 2 pontos</div>
</a>
<a href="/option_2"> Treinar tropas 5% mais rapido 
    <div>custo: 2 pontos</div>
</a>
<a href="/option_3"> Bonus Trabaladores 
    <div>custo: 1 pontos</div>
</a>
<a href="/option_4"> Diminua o tempo de <br> treino das tropas em 5% 
    <div>custo: 2 pontos</div>
</a>
<a href="/option_5"> Diminua a perda na troca <br> do Comerciante em 10%
    <div>custo: 2 pontos</div>
</a>
<a href="/option_6"> option 6 
    <div>custo: 1 pontos</div>
</a>
<a href="/option_7"> option 7 
    <div>custo: 2 pontos</div>
</a>
<a href="/option_8"> option 8 
    <div>custo: 4 pontos</div>
</a>
<a href="/option_9"> option 9 
    <div>custo: 2 pontos</div>
</a>
<a href="/option_10"> option 10 
    <div>custo: 5 pontos</div>
</a>
<a href="/option_11"> option 11 
    <div>custo: 2 pontos</div>
</a>
<a href="/option_12"> option 12 
    <div>custo: 5 pontos</div>
</a>
<a href="/option_13"> option 13 
    <div>custo: 2 pontos</div>
</a>
<a href="/option_14"> option 14 
    <div>custo: 4 pontos</div>
</a>
<a href="/option_15"> option 15 
    <div>custo: 8 pontos</div>
</a>
<a href="/option_16"> option 16 
    <div>custo: 3 pontos</div>
</a>
<a href="/option_17"> option 17 
    <div>custo: 7 pontos</div>
</a>
<a href="/option_18"> option 18 
    <div>custo: 8 pontos</div>
</a>
<a href="/option_19"> option 19 
    <div>custo: 9 pontos</div>
</a>
<a href="/option_20"> Desbloqueie Dragão 
    <div>custo: 10 pontos</div>
</a>


{{/data}}