
{{#data}}

{{!-- pra teste somente --}}
<div style="text-align: center;">{{t_name}}</div>

{{!-- section --}}
<section class="section_actions">
<h1 style="text-align: center;">Trabalhadores</h1>

<p>Total de Trabalhadores Disponiveis: {{workers}}</p>


<p>Trabalhadores produzindo Ouro: </p>
<p>Trabalhadores produzindo Suprimentos: </p>
<p>Trabalhadores produzindo Madeira: </p>

</section>
{{!-- section --}}

{{/data}}





