
{{#data}}

{{!-- section --}}
<section class="section_actions">
<h1 style="text-align: center;">Trabalhadores</h1>

<p style="color: darkcyan;">Compre 1 trabalhador, custo 2 ouros e 13 suprimentos </p>
<p>Compre Trabalhadores:<a href="/purchase_gold"> <button> Comprar trabalhador </button></a></p>

<p>Total de Trabalhadores Disponiveis: <p style="background-color: black; width: 20px; text-align:center" >{{workers}}</p></p>

<p>Coloque Trabalhadores para produzir ouro, cada trabalhador produz 1 ouro por turno.
<a href="/updateWorkers_gold"> <button> Produzir Ouro </button></a></p>

<p>Coloque Trabalhadores para produzir suprimentos, cada trabalhador produz 8 suprimentos por turno.
<a href="/updateWorkers_supplies"><button> Produzir Suprimentos </button></a></p>

<p>Coloque Trabalhadores para produzir madeira, cada trabalhador produz 5 madeiras por turno.
<a href="/updateWorkers_wood"><button> Produzir Madeira </button></a></p>

</section>
{{!-- section --}}

{{/data}}

