
{{#data}}

{{!-- section --}}
<section class="section_actions">
<h1 style="text-align: center;">Trabalhadores</h1>

<p>Total de Trabalhadores Disponiveis: {{workers}}</p>

<input type="number" name="" id="">

<a href="/updateWorkersGold"><button>Produzir Ouro</button></a><br><br>
<a href="/updateWorkersSupplies"><button>Produzir Suprimentos</button></a><br><br>
<a href="/updateWorkersWood"><button>Produzir Madeira</button></a><br><br>

<p>Trabalhadores produzindo Ouro: </p>
<p>Trabalhadores produzindo Suprimentos: </p>
<p>Trabalhadores produzindo Madeira: </p>

</section>
{{!-- section --}}

{{/data}}





