<h1>Atualizar dados:</h1>

<form name='form1' action='/controllerUpdate' method='post'>
    <input type='hidden' name='id' id='id' placeholder='Id:' value='{{id}}'><br>
    <input type='text' name='name' id='name' placeholder='{{name}}'><br>
    <input type='text' name='email' id='email' placeholder='new email:'><br>
    <input type='password' name='password' id='password' placeholder='new password:'><br>
    <input type='submit' name='btnSubmit' id='btnSubmit' value='Update'><br>
</form>