<style>
    h1 {
        text-align: center;
    }

    .btns_workers {
        margin-top: 60px; 
        margin-left: 100px;
    }

    #w_workes {
        text-align: center;
        background-color: black;
        color: blanchedalmond;
        width: 30px;
    }
</style>

{{#data}}
<section class="section_actions">
    <h1>Trabalhadores</h1>

    <div class="btns_workers">

        <a href="/purchase_gold">
            <button> Comprar trabalhador </button>
        </a>

        <div id="cost_workers"></div>

        <p>Total de Trabalhadores Parados: </p>

        <div id="w_workes"></div><br>

        <a href="/updateWorkers_gold">
            <button> Produzir +1 Ouro </button>
        </a>

        <p> Coloque Trabalhadores para produzir Ouro, cada trabalhador produz 1 Ouro por turno. </p>

        <a href="/updateWorkers_supplies">
            <button> Produzir +8 Suprimentos </button>
        </a>

        <p> Coloque Trabalhadores para produzir Suprimentos, cada trabalhador produz 8 Suprimentos por turno. </p>

        <a href="/updateWorkers_wood">
            <button> Produzir +5 Madeira </button>
        </a>

        <p> Colque Trabalhadores para produzir Madeira, cada trabalhador produz 5 Madeira por turno. </p>

    </div>
{{/data}}

<script>

    //Chamada Ajax
        setInterval (async() => {
            try {
                const response = await fetch('/main_users')
                const data = await response.json()
                w_MainShow(data)

            } catch (error) { console.log(error) }
        },30)

        const w_MainShow = (users) => {

            var workers
            users.map((item) => {
                return workers = item.workers, origin = item.origin
            })

            document.querySelector('#w_workes').innerHTML = workers


            //Add Texto a div cost workers (custo dos trabalhadores conforme a origem)
            if (origin === 'Magic') {
                document.querySelector('#cost_workers').innerHTML = 'Custo do trabalhador: <b> 3 </b> ouros, <b> 12 </b> suprimentos.';
            } else if (origin === 'Researcher') {
                document.querySelector('#cost_workers').innerHTML = 'Custo do trabalhador: <b> 2 </b> ouros, <b> 13 </b> suprimentos.';
            } else if (origin === 'War') {
                document.querySelector('#cost_workers').innerHTML = 'Custo do trabalhador: <b> 4 </b> ouros, <b> 15 </b> suprimentos.';
            }
        }

</script>

