body {
    background-color: rgb(44, 51, 51);color: chartreuse;
}

h3 {
    text-align: center;
}

button {
        display: inline-block;
        position: relative;
        color: #fff;
        font-weight: 500;
        font-size: 14px;
        text-decoration: none;
        text-transform: uppercase;
        padding: 10px 20px;
        text-align: center;
        border: none;
        clip-path: polygon(0% 0, 93% 0, 100% 50%, 93% 100%, 0% 100%, 0 50%);
        background-color: #123100;
        background-image: radial-gradient(100% 70% at center 20%, rgb(63, 63, 63) -30%, rgb(15, 15, 15) 49%, rgb(22, 22, 22) 50%, rgba(22,18,19,1) 150%);
        background-repeat: no-repeat;
        transition: background-position-y ease-in-out 50ms;
       }
       
       button:hover {
        background-position-y: -50px;
       }
       
       button:active {
        transform: scale(0.99);
       }

       #diamonds {
        color: aliceblue; 
        text-align:right;
    }

