body {
    background-color: rgb(114, 110, 62);
    color: cornsilk;}

    #elementos_turno{
        background-color: rgb(174, 136, 10);
        position: absolute;
        top: 100px;
        left: 0px;
        width: 1400px;
        height: 30px;
    }

    #menu_superior {
        background-color: rgb(39, 43, 23);
        position: absolute;
        width: 900px;
        height: 200px; 
        top: 200px;
        left: 40%;
        transform: translate(-25%, -35%);
        border-radius: 15px;}
    .info_menu_superior {
        background-color: rgb(35, 56, 35);
        position: absolute;
        left: 50px;
        top: 40px;
        width: 200px;
        height: 140px;
        border-radius: 15px;}
    .ganhos_menu_superior_1 {
        position: relative; 
        top: 30px;
        left: 30px;}
    #ganhos_menu_superior_2 {
        color: green; 
        position: relative; 
        top: -70px;
        left: 120px;}
    #info_sub_menu_1 {
        position: relative;       
        top: 40px;
        left: 30px;}
    .menu_barra_lateral{
        background-color: rgb(39, 43, 23); 
        color: rgb(226, 216, 172);
        text-align: center;
        position: absolute;
        top: 130px;
        width: 215px; 
        height: 730px;
        left: 40px;
        border-radius: 15px;}

    .links{
        color: rgb(186, 169, 101);
        margin: 3px;}

    .section_actions {
        background-color: rgb(39, 43, 23);
        margin-top: 10px;
        position: absolute;
        top: 350px;
        left: 315px;
        width: 900px;
        height: 600px;
        border-radius: 15px;
    }