<div class="container">
    <div class="row">
        <div class="col-12 mt-5">
            <div class="text-center">
                <h1>Sessão expirada, volta para pagina de login.</h1>
                <a href="/" class="btn btn-secondary text-center">Ok</a>
            </div>
        </div>
    </div>
</div>
