<div class="container">
    <div class="row">
        <div class="col-12 mt-5">
            <div class="text-center">
                <h1>Erro ao atualizar e-mail, tente novamente mais tarde.</h1>
                <a href="/home" class="btn btn-secondary">Voltar</a>
            </div>
        </div>
    </div>
</div>
