<div class="container">
    <div class="row">
        <div class="col-12 mt-5">
            <div class="text-center">
                <h1>Email Atualizada com sucesso !!</h1>
                <a href="/profile" class="btn btn-secondary">Voltar</a>
            </div>
        </div>
    </div>
</div>
